html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --black: #212121;
  --gray: #757575;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #000000;
  margin-right: 94px;
}

.header-logo-web {
  color: var(--accent-color);
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-list,
.header-contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contacts-link-mail:hover,
.header-contacts-link-mail:focus,
.header-contacts-link-tel:hover,
.header-contacts-link-tel:focus {
  color: var(--accent-color);
}

.header-nav-link {
  color: var(--black);
}

.header-contacts {
  margin-left: auto;
}

.header-contacts-link-mail {
  margin-right: 40px;
}

.header-contacts-link-mail,
.header-contacts-link-tel {
  color: var(--gray);
}

.hero {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #212121;
}

.main-section {
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
}

.main-section-description {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.main-section-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  min-width: 200px;
  padding: 10px 16px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;

  margin: 30px auto;
}

.main-section-button:hover,
.main-section-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.about-us-header {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.about-us-description {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

.about-us-list {
  display: flex;
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}

.what-we-do-header {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-header {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-member-name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-member-position {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.footer-section {
  background-color: #2f303a;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-logo-web {
  color: var(--accent-color);
}

.footer-address {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-contacts-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

.project-name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}

.project-type {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: #757575;
}

.filter-button-all {
  position: absolute;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  cursor: pointer;
}

.filter-button-all:hover,
.filter-button-all:focus {
  background-color: var(--accent-color);
}

.filter-button-web {
  position: absolute;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  cursor: pointer;
}

.filter-button-web:hover,
.filter-button-web:focus {
  background-color: var(--accent-color);
}

.filter-button-app {
  position: absolute;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  cursor: pointer;
}

.filter-button-app:hover,
.filter-button-app:focus {
  background-color: var(--accent-color);
}

.filter-button-design {
  position: absolute;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  cursor: pointer;
}

.filter-button-design:hover,
.filter-button-design:focus {
  background-color: var(--accent-color);
}

.filter-button-marketing {
  position: absolute;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  cursor: pointer;
}

.filter-button-marketing:hover,
.filter-button-marketing:focus {
  background-color: var(--accent-color);
}
